<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="/static/admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/admin/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/admin/css/app.css"/>
    <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</head>
<body data-type="login">
<script src="/static/admin/js/theme.js"></script>
<div class="am-g tpl-g">

    <div class="tpl-login">
        <div class="tpl-login-content">
            <h2 style="text-align:center;font-size:40px;margin-bottom:0px;">线上博客</h2>
            <h2 style="text-align: center;font-size: 23px;margin-top:0px;margin-bottom: 77px;text-indent: 100px;">后台管理系统</h2>

            <form class="am-form tpl-form-line-form" method="post">
                <div class="am-form-group">
                    <input type="text" class="tpl-form-input" name="username"  placeholder="请输入账号">

                </div>

                <div class="am-form-group">
                    <input type="password" class="tpl-form-input" name="password"  placeholder="请输入密码">

                </div>


                <div class="am-form-group">

                    <button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">登录</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="/static/admin/js/amazeui.datatables.min.js"></script>
<script src="/static/admin/js/dataTables.responsive.min.js"></script>

<script src="/static/admin/js/app.js"></script>
</body>
</html>
