{% extends "layout.html" %}

{% block content %}

    <!-- Start Banner Area -->
		<section class="banner-area ptb-100">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="banner-content">
									<h3>博客搜索</h3>
{#									<p>!</p>#}

									<form class="search-job" method="post">
										<div class="row">
											<div class="col-lg-9 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" name="keyword" id="job-title" placeholder="请输入关键词搜索">
												</div>
											</div>

											<div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
												<button type="submit" class="default-btn">
													<i class="bx bx-search"></i>搜索
												</button>
											</div>
										</div>
									</form>

								</div>
							</div>

							<div class="col-lg-5">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="hot-jobs-area bg-color pb-70">
			<div class="container">
				<div class="row">




					<div class="col-lg-8">
						<div class="section-title" style="margin-top: 100px;">
							<span></span>
							<h2></h2>
						</div>


                    {% for item in Items %}
						<div class="hot-jobs-list">
							<div class="row align-items-center">

								<div class="col-lg-8">
									<div class="hot-jobs-content">
										<h3><a href="/detail/{{ item.Items.id }}">{{ item.Items.items_title }}</a></h3>
										<span class="sub-title">{{ item.User.nickname }}</span>
                                        <span class="date right">{{ item.Items.items_time.strftime("%Y-%m-%d ") }}</span>
										<ul>
{#											<li><span>发布时间:</span> {{ item.Items.items_2 }}</li>#}
										</ul>
									</div>
								</div>

								<div class="col-lg-4">
{#                                    <a href="/detail/{{ item.Items.id }}" class="">查看</a>#}
{#									<div class="hot-jobs-btn">#}
{#										<a href="/detail/{{ item.Items.id }}" class="default-btn">查看</a>#}
{#									</div>#}
								</div>
							</div>
{#							<span class="featured"></span>#}
						</div>
                {% endfor %}


						<div class="row">
							<div class="col-lg-12 col-md-12">


								<div class="pagination-area">


								</div>






							</div>
						</div>
					</div>

                     <div class="col-lg-4">
						<div class="hot-jobs-sidebar">
							<div class="hot-job-sidebar">
								<!-- <img src="/static/assets/images/hot-jobs/hot-jobs-sidebar-img.jpg" alt="Image"> -->

								<div class="hot-job-sidebar-content" style="margin-top: 102px;">
									<h3>热门帖子</h3>

									<ul>

                                          {% for item in Items2 %}
                                            <li>
                                                <a href="/detail/{{ item.Items.id }}" target="_blank">
                                                    {{ item.Items.items_title }}
                                                </a>
                                            </li>

                                         {% endfor %}
									</ul>
								</div>
							</div>

                            <div class="hot-job-sidebar">
								<div class="hot-job-sidebar-content quick-link">
									<h3>网站地图</h3>

									<ul>
										<li>
											<i class="bx bx-chevrons-right"></i>
											<a href="/mycollection" >我的收藏 </a>
										</li>
										<li>
											<i class="bx bx-chevrons-right"></i>
											<a href="/register">用户注册</a>
										</li>
										<li>
											<i class="bx bx-chevrons-right"></i>
											<a href="/login">用户登录 </a>
										</li>
										<li>
											<i class="bx bx-chevrons-right"></i>
											<a href="/admin/login" >管理员登录</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		</section>

{% endblock %}