{% extends "layout.html" %}

{% block content %}


		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>用户登录</h2>
					<ul>
						<li>
							<a href="/home">
								首页
							</a>
						</li>
						<li class="active">用户登录</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start User Area -->
		<section class="user-area ptb-100">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3"></div>
					<div class="col-lg-6">
						<div class="user-form-content log-in-50">
							<h3>登录您的账号</h3>

							<form class="user-form" method="post">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<label>用户名</label>
											<input class="form-control" type="text" name="account">
										</div>
									</div>

									<div class="col-12">
										<div class="form-group">
											<label>密码</label>
											<input class="form-control" type="password" name="pwd">
										</div>
									</div>

									<div class="col-12">
										<button class="default-btn" type="submit">
										    登录
										</button>
									</div>

									<div class="col-12">
										<span class="or">--</span>
									</div>



									<div class="col-12">
										<p class="create">
                                            还没有账号？ <a href="/register">注册</a>
                                        </p>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End User Area -->

{% endblock %}